<div class="card2">
    <h3 class="card-header2">Login</h3>
    <form id="login-form" class="card-body2">
        <label class="form-label2" for="username-login">Username</label>
        <input  id="username-login" type="text" autofocus="true" class="form-input2" />

        <label class="form-label2" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="form-input2" />

        <button type="submit" class="btn">Login!</button>
        <a class="login-link" href="/signup">Sign up instead</a>
    </form>
</div>
<script src="/js/login.js"></script>