<div class="card2">
      <h3 class="card-header2">Sign Up</h3>
      <form id="signup-form" class="card-body2">
        <label for="username-signup" class="form-label2">Username</label>
        <input id="username-signup" type="text" class="form-input2" />


        <label class="form-label2" for="password-signup">Password</label>
        <input  id="password-signup" type="password" class="form-input2" />

        <button type="submit" class="btn">Signup!</button>
        <a class="login-link" href="/login">Log in instead</a>
      </form>
    </div>
<script src="/js/signup.js"></script>